@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-control small {
  color: rgb(218, 46, 46);
  opacity: 0;
}

.form-control.error small {
  opacity: 1;
}

.form-control.error input {
  background-color: rgb(240, 0, 0);
  border: 1px solid rgb(218, 46, 46);
}